@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html, body * {
    margin: 0;
    padding: 0;
    font-family: 'Roboto';
    background-color: #1F1926;
}

.container{
    width: 260px;
    min-height: 200px;
    margin: 5px auto;
    border: 1px solid #5B1CC0;
    border-radius: 5px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 2px 6px 2px 6px;
}

.main-header{
    color: #F33281;
    text-align: center;
    font-size: 1.4em;
}

.content{
    color: #FFE5FF;
}

.content div {
    text-align: center;
    margin: 20px 0px 10px;
}

#range-wrapper{
    display: flex;
    justify-content: center;
}

.pouco{
    color: #C6FCED;
    margin-right: 3px;
}

.muito{
    color: #C01C9E;
    margin-left: 3px;
}

#actionButton{
    background: #C01C9E;
    color: white;
    border: 0;
    padding: 10px;
    border-radius: 20px;
}

#finalGrade{
    color: #007BEF;
    font-weight: bold;
    font-size: 2em;
}

#sentence{
    display: block;
    padding: 5px;
    background: #87006B;
    color: #FFE5FF;
}

#result{
    display: none;
}


#phrase{
    background-color: #EFEFDC;
    padding: 10px;
    color: #007CA2;
    border-radius: 30px;
}